@media only screen and (max-width:800px){
  body .service{
    width:100%;
    left:0;
  }
  body .service > div{
    text-align:center;
  }
  body .service.left h1{
    text-align:center;
  }
  body .service.right h1{
    text-align:center;
  }
  body .service.left{
    grid-template-columns:100%;
    width:100%;
    left:0;
  }
  body .service.right{
    grid-template-columns:100%;
    width:100%;
    left:0;
  }
  body .service.left div{
    border-right:none;
  }
  body .service.right div{
    border-left:none;
  }
  body .contact .wrapper{
    grid-template-columns:100%;
  }
  body .landing div{
    width:100%;
    left:0;
  }
}
